<h1>Listing updated_objects</h1>

<table>
  <tr>
    <th>Object type</th>
    <th>Local</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @updated_objects.each do |updated_object| %>
  <tr>
    <td><%= updated_object.object_type_id %></td>
    <td><%= updated_object.local_id %></td>
    <td><%= link_to 'Show', updated_object %></td>
    <td><%= link_to 'Edit', edit_updated_object_path(updated_object) %></td>
    <td><%= link_to 'Destroy', updated_object, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Updated object', new_updated_object_path %>
