<% javascript 'tutorial_part_dynamic_forms' %>
<h1>Create Part</h1>

<%= form_for(@tutorial_part) do |f| %>
 <%= render 'shared/error_messages', :object => f.object	 %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :content_text %><br />
    <%= f.text_area :content_text %>
  </div>

  <div id ="mediaForm"class="field">
    <label>Media</label><br/>
    <div id ="mediaForm1">
      <input type='url' id='field1' name="field1" value='url..'/>
      <a href="#1" onClick='previewInput(1)'>preview</a>
      <br/>
      <textarea id='description1' name="description1">Description</textarea>
      <a href="#1" onClick='createNewInput()'>+</a>
    </div>
  </div>
  <div class="field">
    <%= f.label :in_order %><br />
    <%= f.text_field :in_order %>
  </div>
  <div class="field">
    <%= hidden_field_tag :tutorial_id, params[:tutorial_id] %>
  </div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
