<div class="stats">
  <ul>
    <li>
        <a href="<%=following_user_path(@user)%>">
          <span id="following" class="stat">
            <%= @user.following.count %> following
          </span>
        </a>
      </li>
      <li>
        <a href="<%= followers_user_path(@user) %>">
          <span id="followers" class="stat">
            <%= pluralize(@user.followers.count, "follower") %>
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span id="rank" class="stat">
            <%="Proffessor (grade 2)" %>
          </span>
        </a>
      </li>
    </ul>
</div>
